/*tailwind css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*custom styles for 2 of the images in the grid*/
.sink-tools {
  width: 480px;
}

/*contact form custom styles*/
.input-styles {
  background-color: lightgrey;
  padding: 12px;
  outline: none;
}
